## 2025/5/21/5:49:4

config {
  camera_dev: "traffic_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.541593075
          y: -0.129051194
          z: -0.262131393
        }
        orientation {
          qx: -0.49934119
          qy: 0.502856672
          qz: -0.496097475
          qw: 0.50167805
        }
      }
    }
    intrinsic {
      img_width: 3840
      img_height: 2160
      f_x: 7324.41846
      f_y: 7327.65381
      o_x: 1899.83411
      o_y: 1066.03271
      k_1: -0.24817276
      k_2: -0.389984
      p_1: 1.30324395e-06
      p_2: 2.26292127e-06
      model_type: PINHOLE
    }
  }
  serial_number: "b64b1d2aad7ecf6b58a0fff75842e72f"
  install_angle_error {
    x: 0.521167934
    y: 0.253382355
    z: 0.118321598
  }
  calib_type: CALIB_TYPE_EOL
}
config {
  camera_dev: "camera_1"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.549402356
          y: -0.0970692784
          z: -0.261741191
        }
        orientation {
          qx: -0.497338414
          qy: 0.507420838
          qz: -0.493337333
          qw: 0.501793683
        }
      }
    }
    intrinsic {
      img_width: 3840
      img_height: 2160
      f_x: 1911.28699
      f_y: 1908.36694
      o_x: 1918.13599
      o_y: 1079.37903
      k_1: -0.0316831
      k_2: -0.0022755
      k_3: -0.0038456
      k_4: 0.0021226
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "f18ffdff3d431e59e52701efebf0d94d"
  install_angle_error {
    x: 1.06221282
    y: 0.551667392
    z: -0.0931689
  }
  calib_type: CALIB_TYPE_EOL
}
config {
  camera_dev: "camera_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.980560839
          y: -0.941637814
          z: -0.836356163
        }
        orientation {
          qx: -0.27565968
          qy: -0.648011267
          qz: 0.65514189
          qw: 0.273646206
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1156.56
      f_y: 1156.52
      o_x: 956.557
      o_y: 539.977
      k_1: -0.062675
      k_2: 0.0042954
      k_3: -0.0083557
      k_4: 0.0038127
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "8c072ba7f892a231b53761d8000298ee"
  install_angle_error {
    x: -0.596243203
    y: 0.0703791156
    z: -0.712844133
  }
  calib_type: CALIB_TYPE_EOL
}
config {
  camera_dev: "camera_3"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.09007335
          y: -0.949721575
          z: -0.836758494
        }
        orientation {
          qx: 0.277686477
          qy: -0.653534472
          qz: 0.654459298
          qw: -0.259742022
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1155.3
      f_y: 1155.6
      o_x: 957.916
      o_y: 542.443
      k_1: -0.0630689
      k_2: 0.0109179
      k_3: -0.022787
      k_4: 0.0132186
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "8c072ba7f892a231b53761d8000298ee"
  install_angle_error {
    x: -0.625676811
    y: 1.31469166
    z: -0.326419592
  }
  calib_type: CALIB_TYPE_EOL
}
config {
  camera_dev: "camera_4"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: -2.24268126
          y: 0.141548589
          z: -0.168622211
        }
        orientation {
          qx: 0.510397
          qy: 0.506811738
          qz: -0.484739661
          qw: -0.49765873
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1156.31
      f_y: 1156.4
      o_x: 967.464
      o_y: 541.18
      k_1: -0.0624232
      k_2: 0.0064484
      k_3: -0.0139074
      k_4: 0.0072705
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "8c072ba7f892a231b53761d8000298ee"
  install_angle_error {
    x: 0.534821749
    y: -1.99461758
    z: -0.945691347
  }
  calib_type: CALIB_TYPE_EOL
}
config {
  camera_dev: "camera_5"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.08635509
          y: 0.927836716
          z: -0.833137155
        }
        orientation {
          qx: -0.656789958
          qy: 0.276066244
          qz: -0.271371305
          qw: 0.647125959
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1157.24
      f_y: 1157.38
      o_x: 959.629
      o_y: 542.687
      k_1: -0.0627071
      k_2: 0.0049813
      k_3: -0.0101441
      k_4: 0.0052072
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "8c072ba7f892a231b53761d8000298ee"
  install_angle_error {
    x: -0.577878177
    y: 0.651138127
    z: -0.549327
  }
  calib_type: CALIB_TYPE_EOL
}
config {
  camera_dev: "camera_6"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.976067722
          y: 0.92052424
          z: -0.832793653
        }
        orientation {
          qx: -0.646483779
          qy: -0.269596636
          qz: 0.273030072
          qw: 0.659417093
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1154.16
      f_y: 1154.27
      o_x: 958.199
      o_y: 541.854
      k_1: -0.0634437
      k_2: 0.0079282
      k_3: -0.0151034
      k_4: 0.0080141
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "8c072ba7f892a231b53761d8000298ee"
  install_angle_error {
    x: 0.861743093
    y: 0.658078313
    z: 0.127629548
  }
  calib_type: CALIB_TYPE_EOL
}
config {
  camera_dev: "panoramic_1"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 2.30884838
          y: -0.0064754393
          z: -1.10053551
        }
        orientation {
          qx: 0.600158811
          qy: -0.591947734
          qz: 0.379614353
          qw: -0.381182671
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 440.056
      f_y: 440.324
      o_x: 954.853
      o_y: 717.691
      k_1: 0.217737
      k_2: -0.0583598
      k_3: 0.0083306
      k_4: -0.0009859
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "591534fe79a20fad881799dfdccbc739"
  install_angle_error {
    x: -0.249691546
    y: -0.20366776
    z: 0.629661918
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "panoramic_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.586349249
          y: -1.0662365
          z: -0.659987926
        }
        orientation {
          qx: -0.00823362265
          qy: 0.903648674
          qz: -0.42816782
          qw: -0.00486163097
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 441.04
      f_y: 441.056
      o_x: 958.293
      o_y: 713.646
      k_1: 0.217427
      k_2: -0.0576616
      k_3: 0.0080523
      k_4: -0.000935
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "591534fe79a20fad881799dfdccbc739"
  install_angle_error {
    x: -0.705143154
    y: 0.903667092
    z: 0.61967665
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "panoramic_3"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: -2.71886253
          y: -0.131417274
          z: -0.866803527
        }
        orientation {
          qx: 0.592119
          qy: 0.602794766
          qz: -0.370500356
          qw: -0.38569811
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 440.734
      f_y: 440.684
      o_x: 962.294
      o_y: 720.761
      k_1: 0.21855
      k_2: -0.0584851
      k_3: 0.0084661
      k_4: -0.0010129
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "591534fe79a20fad881799dfdccbc739"
  install_angle_error {
    x: 1.5018425
    y: 1.9420563
    z: 0.0979079604
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "panoramic_4"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.625631571
          y: 1.07289612
          z: -0.657813072
        }
        orientation {
          qx: 0.903767526
          qy: 0.00613728119
          qz: -0.00255331653
          qw: -0.427972049
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 439.639
      f_y: 439.733
      o_x: 953.88
      o_y: 718.431
      k_1: 0.217475
      k_2: -0.0590373
      k_3: 0.0087617
      k_4: -0.0010508
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "591534fe79a20fad881799dfdccbc739"
  install_angle_error {
    x: 0.679049253
    y: -0.0320443958
    z: 0.761052
  }
  calib_type: CALIB_TYPE_ONLINE
}
