## 2025/6/16/6:50:0

config {
  camera_dev: "traffic_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.594706357
          y: -0.0367761552
          z: -0.0833981857
        }
        orientation {
          qx: 0.503259599
          qy: -0.502669394
          qz: 0.496789694
          qw: -0.497245699
        }
      }
    }
    intrinsic {
      img_width: 3840
      img_height: 2160
      f_x: 7319.94043
      f_y: 7316.81348
      o_x: 1926.01709
      o_y: 1076.38208
      k_1: -0.209886596
      k_2: -0.755434811
      p_1: -1.15923491e-07
      p_2: -8.34320133e-07
      model_type: PINHOLE
    }
  }
  serial_number: "e5c14506c9b0eeae91e1bb15126dce1c"
  install_angle_error {
    x: -0.00774145173
    y: 0.781454504
    z: 0.0599371828
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "camera_1"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.593744278
          y: -0.00674857292
          z: -0.0830814838
        }
        orientation {
          qx: -0.499251068
          qy: 0.503561
          qz: -0.4953565
          qw: 0.501793385
        }
      }
    }
    intrinsic {
      img_width: 3840
      img_height: 2160
      f_x: 1909.70239
      f_y: 1910.06921
      o_x: 1925.47668
      o_y: 1070.38208
      k_1: -0.0301801
      k_2: -0.0044412
      k_3: 0
      k_4: 0
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "e5c14506c9b0eeae91e1bb15126dce1c"
  install_angle_error {
    x: 0.615646303
    y: 0.424418777
    z: 0.122402407
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "camera_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.02122557
          y: -0.960828483
          z: -0.616659701
        }
        orientation {
          qx: 0.238167197
          qy: 0.66801554
          qz: -0.65939492
          qw: -0.249459326
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1058.03
      f_y: 1057.69
      o_x: 959.163
      o_y: 542.108
      k_1: -0.022011
      k_2: 0.0088307
      k_3: 0
      k_4: 0
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "baa492abbf8d08df6490162d851be5ff"
  install_angle_error {
    x: 0.763923287
    y: 0.532590628
    z: -0.341592252
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "camera_3"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.790292442
          y: -0.905456364
          z: -0.444771796
        }
        orientation {
          qx: -0.319034427
          qy: 0.63791728
          qz: -0.627275109
          qw: 0.312737226
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1056.89
      f_y: 1056.55
      o_x: 957.346
      o_y: 540.918
      k_1: -0.021572
      k_2: 0.0087036
      k_3: 0
      k_4: 0
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "668ebd11b98fc8d24ad6884254873746"
  install_angle_error {
    x: 0.544052124
    y: 0.841418
    z: 0.0703415796
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "camera_4"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: -2.3383491
          y: -0.0152445566
          z: 0.0330775119
        }
        orientation {
          qx: -0.501855969
          qy: -0.497317255
          qz: 0.505873382
          qw: 0.494882047
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1055.46
      f_y: 1055.16
      o_x: 956.39
      o_y: 540.643
      k_1: -0.0219362
      k_2: 0.0086582
      k_3: 0
      k_4: 0
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "6c3484ff3772dccf29d30bffa3856d01"
  install_angle_error {
    x: -0.89013952
    y: 0.190649807
    z: 0.368935794
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "camera_5"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.777255893
          y: 0.895575404
          z: -0.448636234
        }
        orientation {
          qx: -0.641026318
          qy: 0.313344926
          qz: -0.308753639
          qw: 0.628944695
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1057.1
      f_y: 1056.69
      o_x: 958.96
      o_y: 541.948
      k_1: -0.0220065
      k_2: 0.0085834
      k_3: 0
      k_4: 0
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "f51c10212d8e89a4377dce0e0112192e"
  install_angle_error {
    x: -0.570597589
    y: 0.750562847
    z: 0.702985525
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "camera_6"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.01643848
          y: 0.95890975
          z: -0.615577161
        }
        orientation {
          qx: -0.672693968
          qy: -0.24128
          qz: 0.249096811
          qw: 0.653618813
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1056.21
      f_y: 1055.87
      o_x: 960.416
      o_y: 542.433
      k_1: -0.0218813
      k_2: 0.0088584
      k_3: 0
      k_4: 0
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "560107c9964ae597ea691aa8cb8643b7"
  install_angle_error {
    x: -1.73377788
    y: 0.142824873
    z: 0.580551684
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "panoramic_1"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 2.49089479
          y: 0.0031357042
          z: -0.982370496
        }
        orientation {
          qx: 0.587445378
          qy: -0.586819291
          qz: 0.387512624
          qw: -0.400481045
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1536
      f_x: 446.178
      f_y: 446.483
      o_x: 954.767
      o_y: 760.335
      k_1: 0.146775
      k_2: -0.0692254
      k_3: 0.021148
      k_4: -0.00269379
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "P010015164410009727"
  install_angle_error {
    x: 0.844998538
    y: -0.127394855
    z: 0.626727223
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "panoramic_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.637823
          y: -1.09551275
          z: -0.454994857
        }
        orientation {
          qx: -0.00850222725
          qy: 0.916725099
          qz: -0.399338663
          qw: 0.00845218822
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1536
      f_x: 448.07
      f_y: 448.363
      o_x: 956.903
      o_y: 764.777
      k_1: 0.145688
      k_2: -0.0689889
      k_3: 0.0212056
      k_4: -0.00271449
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "P010015174410010140"
  install_angle_error {
    x: 1.92263615
    y: -0.477347523
    z: 1.28830242
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "panoramic_3"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: -2.64122629
          y: 0.00593637861
          z: -0.989451349
        }
        orientation {
          qx: 0.631362736
          qy: 0.636581481
          qz: -0.305833489
          qw: -0.320329577
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1536
      f_x: 448.045
      f_y: 447.903
      o_x: 960.886
      o_y: 762.751
      k_1: 0.146079
      k_2: -0.0678029
      k_3: 0.0200413
      k_4: -0.00242853
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "P010015164410010018"
  install_angle_error {
    x: 1.23793888
    y: -1.93581116
    z: -0.161891818
  }
  calib_type: CALIB_TYPE_ONLINE
}
config {
  camera_dev: "panoramic_4"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.659564853
          y: 1.11158133
          z: -0.455582231
        }
        orientation {
          qx: 0.906591892
          qy: 0.00517693395
          qz: 0.00855936
          qw: -0.421889901
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1536
      f_x: 446.813
      f_y: 446.968
      o_x: 961.5
      o_y: 761.135
      k_1: 0.144555
      k_2: -0.066258
      k_3: 0.0193085
      k_4: -0.00232278
      model_type: KANNALA_BRANDT
    }
  }
  serial_number: "P010015174410010003"
  install_angle_error {
    x: 0.610572875
    y: -1.13889623
    z: 0.130096927
  }
  calib_type: CALIB_TYPE_ONLINE
}
