## 2024/4/23/19:21:34

config {
  camera_dev: "traffic_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.914766
          y: -0.030654
          z: -0.248532
        }
        orientation {
          qx: 0.5
          qy: -0.5
          qz: 0.5
          qw: -0.5
        }
      }
    }
    intrinsic {
      img_width: 3840
      img_height: 2160
      f_x: 7099.43164
      f_y: 7191.62305
      o_x: 2082.84033
      o_y: 1744.24536
      k_1: -0.29502964
      k_2: 0.591994703
      k_3: 0
      p_1: 0.0140086301
      p_2: 0.00495314365
    }
  }
}
config {
  camera_dev: "camera_1"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.922523
          y: 0.001343
          z: -0.248599
        }
        orientation {
          qx: 0.5
          qy: -0.5
          qz: 0.5
          qw: -0.5
        }
      }
    }
    intrinsic {
      img_width: 3840
      img_height: 2160
      f_x: 1886.09302
      f_y: 1896.01758
      o_x: 1921.49976
      o_y: 1097.81934
      k_1: -0.0366772041
      k_2: -0.0131236892
      k_3: 0.0272806026
      k_4: -0.0157245509
    }
  }
}
config {
  camera_dev: "camera_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.17112601
          y: -0.969757
          z: -0.924747
        }
        orientation {
          qx: 0.270598054
          qy: 0.65328151
          qz: -0.65328151
          qw: -0.270598054
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1146.93335
      f_y: 1147.75159
      o_x: 966.402527
      o_y: 540.558594
      k_1: -0.101063162
      k_2: 0.140409455
      k_3: -0.260919303
      k_4: 0.169758365
    }
  }
}
config {
  camera_dev: "camera_3"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.27768898
          y: -0.967257
          z: -0.929186
        }
        orientation {
          qx: -0.270598054
          qy: 0.65328151
          qz: -0.65328151
          qw: 0.270598054
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1148.68555
      f_y: 1148.10217
      o_x: 957.884094
      o_y: 535.687744
      k_1: -0.0722589642
      k_2: -0.0133668669
      k_3: 0.0712571889
      k_4: -0.0595250577
    }
  }
}
config {
  camera_dev: "camera_4"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: -2.5273881
          y: -0.06413
          z: -0.778613
        }
        orientation {
          qx: -0.5
          qy: -0.5
          qz: 0.5
          qw: 0.5
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1146.8175
      f_y: 1145.54993
      o_x: 961.632568
      o_y: 559.581787
      k_1: -0.076656051
      k_2: 0.0300573744
      k_3: -0.0256109163
      k_4: 0.00501714647
    }
  }
}
config {
  camera_dev: "camera_5"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.27768898
          y: 0.967257
          z: -0.929186
        }
        orientation {
          qx: -0.65328151
          qy: 0.270598054
          qz: -0.270598054
          qw: 0.65328151
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1151.06079
      f_y: 1150.04419
      o_x: 955.733215
      o_y: 534.989197
      k_1: -0.0896851942
      k_2: 0.0464723036
      k_3: -0.0333624855
      k_4: 0.00933199842
    }
  }
}
config {
  camera_dev: "camera_6"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 1.17112601
          y: 0.969757
          z: -0.924747
        }
        orientation {
          qx: -0.65328151
          qy: -0.270598054
          qz: 0.270598054
          qw: 0.65328151
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1080
      f_x: 1149.21912
      f_y: 1148.68054
      o_x: 956.553894
      o_y: 545.176941
      k_1: -0.0940017477
      k_2: 0.0886688679
      k_3: -0.124235503
      k_4: 0.0626780763
    }
  }
}
config {
  camera_dev: "panoramic_1"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 2.49246311
          y: 0
          z: -1.15334702
        }
        orientation {
          qx: 0.579228
          qy: -0.579228
          qz: 0.405579776
          qw: -0.405579776
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 438.087799
      f_y: 437.961304
      o_x: 959.78595
      o_y: 714.308533
      k_1: 0.216189772
      k_2: -0.0604357
      k_3: 0.0109865163
      k_4: -0.00161385222
    }
  }
}
config {
  camera_dev: "panoramic_2"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.818267
          y: -1.13187897
          z: -0.6595
        }
        orientation {
          qx: -1.54404544e-17
          qy: 0.898794055
          qz: -0.438371152
          qw: -1.54404544e-17
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 437.989227
      f_y: 437.67746
      o_x: 961.8703
      o_y: 713.845215
      k_1: 0.221553907
      k_2: -0.0622572787
      k_3: 0.0101796882
      k_4: -0.00117183244
    }
  }
}
config {
  camera_dev: "panoramic_3"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: -2.5246141
          y: 0.0645
          z: -0.781773
        }
        orientation {
          qx: 0.632814169
          qy: 0.632814169
          qz: -0.315509498
          qw: -0.315509498
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 440.118835
      f_y: 439.523254
      o_x: 962.746704
      o_y: 714.907776
      k_1: 0.218374684
      k_2: -0.0628425926
      k_3: 0.0125225428
      k_4: -0.00187942828
    }
  }
}
config {
  camera_dev: "panoramic_4"
  parameters {
    extrinsic {
      sensor_to_cam {
        position {
          x: 0.831267
          y: 1.13885701
          z: -0.660639
        }
        orientation {
          qx: 0.902585268
          qy: -4.61267905e-17
          qz: -1.53755968e-17
          qw: -0.430511087
        }
      }
    }
    intrinsic {
      img_width: 1920
      img_height: 1440
      f_x: 439.441528
      f_y: 439.123
      o_x: 960.717773
      o_y: 709.51709
      k_1: 0.219907269
      k_2: -0.0644249842
      k_3: 0.012367487
      k_4: -0.00170505093
    }
  }
}
